body {
    background-color: #CCC;
    color: black;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

div.fragment {
    white-space: nowrap;
}

div.contents {
    margin-bottom: 10px;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    /*
    margin: 0;
    width: 960px;
    width: 70%;
    white-space: nowrap;
    */
    background-color: white;
    border-radius: 8px;
}

#top {
    display: block;
    /*
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    */
}

#titlearea {
    background-color: white;
    /*
    margin-right: auto;
    margin-left: auto;
    display: block;
    */
}

#projectname {
    display: none;
}

#projectbrief {
    display: none;
}

#projectlogo {
    display: block;
    width: 30%;
/*
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
*/
}

hr.footer {
    display: block;
}

.footer {
    background-color: #AAA;
}